module.exports = {
        "<FROM email addr1>": {authuser: "<auth user1>", authpwd: "<auth password1>"}
        ,"<FROM email addr2>": {authuser: "<auth user2>", authpwd: "<auth password2>"}
        ,"<FROM email addr3>": {authuser: "<auth user3>", authpwd: "<auth password3>"}
};

