module.exports = {
        "someemail@email.com": {authuser: "authuser1@email.com", authpwd: "auth password1"}
        ,"another@email.com": {authuser: "authuser2@someserver.com", authpwd: "auth password2"}
        ,"authuser3@gmail.com": {authuser: "authuser3@gmail.com", authpwd: "auth password3"}
};
